{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% if page_title %}
        <title>{{ page_title }}</title>
    {% else %}
        <title>Tankonsteen Forum</title>
    {% endif %}

    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'forum/style.css' %}">
    <link rel="shortcut icon" type="image/png" 
        href="{% static 'forum/favicon.ico' %}">
</head>

<body>
    <div class="parent">
        <div class="header"> 
            <div class="flex-container" id="flex-header">
                <div class="flex-element" id="header-left">
                    {% block header-left-content %}
                    {% endblock %}
                </div>
                <div class="flex-element" id="header-right">
                    {% if user.is_authenticated %}
                        <a href="{% url 'user-detail' pk=user.id %}">
                            {{ user.username }}
                        </a> is logged in&nbsp; /
                        <a style="margin-left: 10px" href="{% url 'user-logout' %}">
                            Logout
                        </a>
                    {% else %}
                        <a href="{% url 'user-login' %}">Login</a>
                        <a style="margin-left: 10px" href="{% url 'user-registration' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex-container" id="flex-main">
            <div class="flex-element" id="left-plate">
                <span class="nav-title">Navigation</span>
                <ul style="list-style-type: circle;">
                    <li><a href="{% url 'forum-home' %}">home</a></li>
                    <li><a href="{% url 'forum-index' %}">topic list</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'user-detail' pk=user.id %}">
                                profile
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="flex-element" id="center-plate">
                {% block center-plate-content %}
                {% endblock %}
            </div>

            <div class="flex-element" id="right-plate">
                <span class="nav-title">Search bar</span>
                <form method="get"
                    action="{% url 'forum-search-results' %}"
                    accept-charset="utf-8">

                    <p>
                        <button class="search-button"
                            type="submit">
                        </button>
                        <input class="search-field" name="q" 
                            type="text" placeholder="search..."
                            required="">
                    </p>
                </form>
            </div>
        </div>

        <div class="footer"> 
            <p align="center"><a href="#">About</a> | by kost 2019</p>
        </div>
    </div>

    {% if messages %}
        {% for msg in messages %}
            <div class="fixed-message-box">
                <p>{{ msg }}</p>
            </div>
        {% endfor %}
    {% endif %}
</body>

</html>