{% extends 'forum/blueprint.html' %}
{% load forum_extras %}

{% block header-left-content %}
    Topic #{{ object.id }}
{% endblock header-left-content %}

{% block center-plate-content %}
    <span class="center-title">
        <a href="#">{{ object.section.title }}</a> &#9656;
        <a href="#">{{ object.title }}</a>
    </span>

    {% for msg in object_list %}
        <div class="topic-message">
            <div class="message-userinfo">
                <p>by 
                    <a href="{% url 'user-detail' pk=msg.author.id %}"> 
                        {{ msg.author.username }}
                    </a>
                </p>
                <img class="topic-message-image" 
                    src="{{ msg.author.userextra.avatar.url }}"
                    width="100%">
                <p>registered {{ msg.author.date_joined }}</p>
            </div>

            <div class="message-body">
                <p class="message-timeposted">
                    <a href="{% url 'message-delete' pk=msg.id %}">
                        delete?
                    </a>
                    posted at {{ msg.timestamp }}
                </p>
                <p>{{ msg.text }}</p>
            </div>
        </div>
    {% empty %}
        <p class="fault-message">
            Sorry, no messages here
        </p>
    {% endfor %}

    <form method="POST" 
        action="{% url 'message-create' topic=object.id %}">
        {% csrf_token %}
        <fieldset style="border: none;">
            <ul class="validation-errors">
            {% for err in message_form.non_field_errors %}
                <li>{{ err }}</li>
            {% endfor %}
            </ul>

            <div class="form-token">
                <p>
                    <label for="{{ message_form.text.id_for_label }}">
                        <b>Post a message</b>
                    </label> 

                    <ul class="validation-errors">
                    {% for err in message_form.text.errors %}
                        <li>{{ err }}</li>
                    {% endfor %}
                    </ul>
                </p>
                <p class="topic-message-create">{{ message_form.text }}</p>
            </div>

            <button type="submit" class="generic-button">
                <span style="width: 80px;">Done</span>
            </button>
        </fieldset>

        <div style="text-align: right; ">
            
        </div>
    </form>

    <div class="pagination-nav">
        {% if is_paginated %}

            {% if page_obj.has_previous %}

                {% if page_obj.number|add:'-1' > 1 %}
                    <a href="?page=1">1</a>
                    {% if page_obj.number|add:'-1' > 2 %}
                        ...
                    {% endif %}
                {% endif %}

                <a href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number }}
                </a>

            {% endif %}

            <a class="current-page" href="?page={{ page_obj.number }}">
                {{ page_obj.number }}
            </a>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a>

                {% if page_obj.paginator.num_pages|subtract:page_obj.number > 1 %}
                    {% if page_obj.paginator.num_pages|subtract:page_obj.number > 2 %}
                        ...
                    {% endif %}

                    <a href="?page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                {% endif %}
            {% endif %}

        {% endif %}
    </div>
{% endblock center-plate-content %}