{% extends 'forum/blueprint.html' %}
{% load forum_extras %}

{% block header-left-content %}
    Topic #{{ object.id }}
{% endblock header-left-content %}

{% block center-plate-content %}
    <h0><b>{{ object.title }}</b></h0>

    {% for msg in object_list %}
        <div class="topic-message">
            <div class="message-userinfo">
                <p>by 
                    <a href="{% url 'user-detail' pk=msg.author.id %}"> 
                        {{ msg.author.username }}
                    </a>
                </p>
                <img class="topic-message-image" 
                    src="{{ msg.author.userextra.avatar.url }}"
                    width="100%">
                <p>registered {{ msg.author.date_joined }}</p>
            </div>

            <div class="message-body">
                <p class="message-timeposted">
                    <a href="{% url 'message-delete' pk=msg.id %}">
                        delete?
                    </a>
                    posted at {{ msg.timestamp }}
                </p>
                <p>{{ msg.text }}</p>
            </div>
        </div>
    {% empty %}
        <h0>No messages here</h0>
    {% endfor %}

    <div>
        <a href="{% url 'message-create' topic=object.pk %}">
            Post a message
        </a>
    </div>

    <div class="pagination-nav">
        {% if is_paginated %}

            {% if page_obj.has_previous %}

                {% if page_obj.number|add:'-1' > 1 %}
                    <a href="?page=1">1</a>
                    {% if page_obj.number|add:'-1' > 2 %}
                        ...
                    {% endif %}
                {% endif %}

                <a href="?page={{ page_obj.previous_page_number }}">
                    {{ page_obj.previous_page_number }}
                </a>

            {% endif %}

            <a class="current-page" href="?page={{ page_obj.number }}">
                {{ page_obj.number }}
            </a>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                    {{ page_obj.next_page_number }}
                </a>

                {% if page_obj.paginator.num_pages|subtract:page_obj.number > 1 %}
                    {% if page_obj.paginator.num_pages|subtract:page_obj.number > 2 %}
                        ...
                    {% endif %}

                    <a href="?page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                {% endif %}
            {% endif %}

        {% endif %}
    </div>
{% endblock center-plate-content %}